<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <div class="header">
    <h2 style="margin:5px; font-size:30px;">To Do List</h2>
    <form action="{{ url_for('add') }}" method="POST">
      <input type="text" name="todoitem">
      <input class="addBtn" type="submit" value="Add Item" />
    </form>
  </div>
  <div class="parent">
    <div class="todo" id="left">
      <ul id="myUL">
        {% for todo in incomplete %}
        <li><a href="{{ url_for('complete', id=todo.id) }}" class="button">✓</a>{{ todo.text }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="todo" id="right">
      <hX style="margin:5px; font-size:30px;">Leaderboard</hX>
      <ul id="table">
        {% for x, y in sorted_list.items() %}
        <li>{{x}} Score: {{y}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

</body>

</html>
